// estilos aplicados globalmente

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

body {
  min-width: $minWidth;
  font: {
    size: $sizeBase;
  }
  color: $colorBase;
  background-color: $colorBg;
}

hr {
  border: {
    top: $borderSize solid $colorBase7;
  }

  margin: {
    top: $spacingBase;
    bottom: $spacingBase;
  }

}

[v-cloak] {
  visibility: hidden;
}

.inline {
  display: inline;
}

.img-responsive {
  max-height: 100%;
  width: auto;
}

// links

a {
  color: $colorAzul;
  text-decoration: none;
  outline: 0;
  font-weight: bold;

}

.invisible {
  visibility:hidden;
}

.disabled {
  opacity: 0.75;
}

.underline {
  border-bottom: 1px solid transparent;
  transition: border .2s ease;
  &:hover {
    border-bottom: 1px solid rgba($colorBase,.4);
  }
}

.pointer {
  cursor:pointer;
}