.nav {
  cursor: pointer;
  color: #fff;
  &__btn {
    padding: $spacingBase;

    &--line {
      width: 3.5rem;
      height: 0.4rem;
      background-color: $colorBase;
      border-radius: 10px;
      margin-top: 0;
      margin-bottom: 6px;
    }
  }

  &__container {
    z-index: 3;
    transform: translateX(-100%);
    min-width: $minWidth;
    position: fixed;
    background-image: linear-gradient(-180deg, $colorBase 0%, $colorBase2 0%, $colorBase 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @include screen(md) {
      width: 400px;
    }

    ul {
      li {
        padding: $spacingBase $spacingXLarge;
      }
    }

    &-header{
      font:{
        family:$fontAlternative;
        size:$sizeXSmall;
      }
      margin-bottom: $spacingLSmall;
    }

    &-description{
      font:{
        weight:$bold;
        size: $sizeXMedium;
      }

      span{
        border-bottom: 1px solid transparent;
        transition: border .2s ease;
        &:hover {
          border-bottom: 1px solid rgba($colorWhite,.4);
        }
      }
    }

    .router-link-active {
      background-color: rgba($colorBase,0.3);
    }

    ul li:first-child {
      padding: $spacingBase;
      &:hover, &:active {
      }
    }

  }

  &__filter {
    z-index: 2;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: $colorBase;
    display:none;
    opacity:0;
    visibility:hidden;
   
  }
}

.close {
  position: relative;
  display: inline-block;
  width: $sizeLarge;
  height: $sizeLarge;
  overflow: hidden;


  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #fff;
    height: 4px;
    margin-top: -4px;
    border-radius: 5px;
  }
  &::before {
    transform:(rotate(45deg));
  }
  &::after {
    transform:(rotate(-45deg));
  }


}